<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <br>
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{@user.github}", class: 'img-circle user-pic', style: 'width: 300px'%>
    </div>
    <div class="col-xs-6">

    <h1><i class="far fa-user"> &nbsp </i><%= @user.name %></h1>
    <h2><i class="fab fa-github"> &nbsp </i><%= @user.github %></h2>
    <h3><i class="fas fa-suitcase"> &nbsp </i><%= @user.job %></h3>
    <h3>Gets.chomp <%= @user.food %></h3>
    <h4>Member since <%= @user.created_at.to_s.split(" ")[0] %></h4>
    <h3><%= link_to "Update" ,edit_user_path(@user) %></h3>
    <h3><%= link_to "Delete", user_path(@user),
          method: :delete,
          data: { confirm: "Are you sure?" } %>
    </h3>
  </div>
  </div>
</div>

<% @user.posts.first(20).reverse.each do |post| %>
  <div class="post-content-profile">
    <p><strong><%= post.created_at.to_s.split(" ")[0] %></strong></p>
    <p class="post-text"><%= post.content %></p>
    <p><i class="fas fa-comment"></i> <%= post.comments.length %></p>
    <% if post.comments.length > 0 %>
      <% post.comments.each do |comment| %>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{comment.user.github}", class: 'img-circle', style: 'width: 30px'%>
        <%= comment.content %>
        <br>
      <% end %>
    <% end %>
  </div>
<% end %>
