<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <br>
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{@user.github}", class: 'img-circle', style: 'width: 300px'%>
    </div>
    <div class="col-xs-6">

    <h1><i class="far fa-user"> &nbsp </i><%= @user.name %></h1>
    <h2><i class="fab fa-github"> &nbsp </i><%= @user.github %></h2>
    <h3><i class="fas fa-suitcase"> &nbsp </i><%= @user.job %></h3>
    <h3>Likes <%= @user.food %></h3>
    <h3><%= link_to "Update" ,edit_user_path(@user) %></h3>
    <h3><%= link_to "Delete", user_path(@user),
          method: :delete,
          data: { confirm: "Are you sure?" } %>
    </h3>
  </div>
  </div>
</div>

<% @user.posts.first(20).each do |post| %>
  <div class="post-content"> <h3><%= post.content %></h3></div>
<% end %>
