<div class="col-xs-12 col-xs-offset-2 ">
 <% @posts.reverse.first(20).each do |post| %>
    <div class="post-content ">
      <%= link_to user_path(post.user) do %>
      <h3><%= image_tag "https://kitt.lewagon.com/placeholder/users/#{post.user.github}", class: 'img-circle', style: 'width: 50px'%>
      <%= post.user.name %></h3>
      <p> <i class="far fa-clock"></i>
      <% if Time.now.day == post.created_at.day && Time.now.month == post.created_at.month %>
        <%= post.created_at.to_s.split(" ")[1] %>
      <% else %>
        <%= post.created_at.to_s.split(" ")[0] %>
      <% end %>
      </p>
      <p class="post-content-text"><%= post.content %></p>
      <%= link_to new_post_comment_path(post) do %>
      <p><i class="fas fa-comment"></i> <%= post.comments.length %></p>
      <% end %>
      <% if post.comments.length > 0 %>
        <% post.comments.each do |comment| %>
        <%= link_to comment.user do %>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{comment.user.github}", class: 'img-circle', style: 'width: 25px'%>
        <% end %>
          <%= comment.content %>
          <br>
        <% end %>
      <% end %>
      </div>
  <% end %>
<% end %>
</div>
